
.input{
    height: 100%;
    width: 90%;
    
    /* border: 1px solid black; */
    background-color: rgba(0,0,0,.08);
    border: unset;
    color: white;
    padding: 5px;
}

.shop_card_footer{
    
    background: #b59677;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    
}
.productColor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.productColor{
    width: 20px;
    height: 20px;
    
}
.wishlist{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10%;
    height: 16%;
    padding: 5px;
    color: #8e7459;
    /* background: white; */
    background: var(--nextui--navbarBlurBackgroundColor);
    backdrop-filter: saturate(180%) blur(var(--nextui--navbarBlur))
}

.add_Cart, .minus_Cart{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    border: unset;
    background-color: rgba(0,0,0,.08);
    border: 1px solid #8e7459;
    margin-right: 5px;
    
}

@media (max-width:960px) {
    .shop_card_footer{
        height: 30px;
    }
    .add_Cart, .minus_Cart{
        font-size: unset;
    }
    .wishlist{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15%;
        height: 15%;
        padding: 5px;
        color: #8e7459;
        /* background: white; */
        background: var(--nextui--navbarBlurBackgroundColor);
        backdrop-filter: saturate(180%) blur(var(--nextui--navbarBlur))
    }
}